<div class="offcanvas-body">
    <ul class="navbar-nav flex-grow-1 justify-content-between">
        <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#aperture"/>
            </svg>
        </a></li>
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Каталог</a></li>
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts' %}">Контакты</a>
            </li>
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Блоги</a></li>
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a></li>
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выход</a></li>
        {% else %}
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистриция</a></li>
            <li class="nav-item"><a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a></li>
        {% endif %}
    </ul>
</div>