



    {% extends 'catalog/base_page.html' %}
    {% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Продукты</h1>
        </div>
    {% for object in product_list %}
        <div class="row text-center">
            <div class="col">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.name|upper }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$ {{ object.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3 text-center">
                            <li>- {{ object.description|truncatechars:100 }}</li>
                        </ul>
                        <div   class="btn btn-primary text-right"  >
                            <a href="{% url 'catalog:product' object.id %}" class="btn btn-primary form-control">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}