    {% extends 'catalog/base_page.html' %}
    {% load my_tags %}
    {% block content %}
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
                <div class="col-md-6 p-lg-5 mx-auto my-5">
                    <h1 class="display-3 fw-bold">Продукты</h1>
                </div>
                <div class="product-device shadow-sm d-none d-md-block"></div>
                <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
            </div>

            {% for object in product_list %}
            <div class=" flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        {% if object.price > 300 %}
                        <img class="card-img-top"
                        src="{{ object.picture|mediapath }}"
                        alt="Card image cap">
                        <h3>{{ object.name|lower }}</h3>

                        {% else %}
                        <img class="card-img-top"
                        src="{{ object.picture|mediapath }}"
                        alt="Card image cap">
                        <h1>{{ object.name|upper }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
    {% endblock %}
